@font-face {
    font-family: "Electrolize";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Electrolize.ttf) format("truetype");
}

:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #d0d0d0;
    --color4: #353941;
    --color5: #9898FF;
    --alpha1: rgba(0, 0, 0, 0.24);
    --alpha2: rgba(0, 0, 0, 0.60);
}

* {
    font-family: "Electrolize", sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color2);
}

.nav {
    position: fixed;
    top: 0;
    background: var(--color4);
    height: 50px;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

.nav .title {
    margin-left: 2.5%;
    text-align: left;
    font-weight: bold;
    line-height: 50px;
    color: var(--color2);
}

.nav .box {
    margin-right: 2.5%;
    line-height: 50px;
    float: right;
}

.nav .items {
    display: inline-block;
    margin: 0 5px;
}

.nav .items a {
    text-decoration: none;
    color: var(--color2);
}

.row {
    margin-top: 50px;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.main {
    background: var(--color2);
    padding: 5%;
}

.a1 {
    text-decoration: none;
    color: var(--color1);
}

.a1:hover {
    border-bottom: 1px solid var(--color1);
}

.a2 {
    color: var(--color1);
}

.a2:hover {
    color: var(--color5);
}

.container {
    display: flex;
    flex-direction: column;
}

.tools {
    margin: 10px 0;
    line-height: 50px;
}

.tools a {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--color3);
    border-radius: 5px;
    color: var(--color1);
    transition: box-shadow 0.25s;
}

.tools a:hover {
    box-shadow: 2px 4px 8px var(--alpha1);
}

.tools a:active {
    
}

.about {
    text-indent: 2em;
}

.it {
    height: 32px;
    margin: 16px 0;
    padding: 16px 8px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--color3);
    border-radius: 5px;
    transition: box-shadow 0.25s;
}

.it:focus {
    box-shadow: 2px 4px 8px var(--alpha1);
}

p.button a {
    margin-left: 8px;
    border: 1px solid var(--alpha1);
    border-radius: 5px;
    text-decoration: none;
    background: var(--color2);
    color: var(--color1);
    font-size: 14px;
    padding: 8px 32px;
    transition: box-shadow 0.25s;
}

p.button a:first-child {
    margin: 0;
}

p.button a:active {
    box-shadow: 2px 4px 8px var(--alpha1);
}

p.button.left {
    text-align: left;
}

p.copyright {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .tools a:hover {
        box-shadow: none;
    }
    
    .tools a:active {
        box-shadow: 2px 4px 8px var(--alpha1);
    }
}

@media screen and (min-width: 768px) {
    .row {
        max-width: 768px;
        margin: 50px auto auto;
    }
}