@import "font-awesome.css";

:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #d0d0d0;
    --color4: #353941;
    --color5: #9898FF;
    --color6: #f0f0f0;
    --alpha1: rgba(0, 0, 0, 0.24);
    --alpha2: rgba(0, 0, 0, 0.60);
    --alpha3: rgba(255, 255, 255, 0.18);
}

@font-face {
    font-family: "ProductSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/ProductSans-Regular.ttf) format("truetype");
}

* {
    font-family: "ProductSans";
    letter-spacing: 0.025em;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background: rgba(152, 152, 255, 0.25)
}

body {
    margin: 0;
    padding: 0;
    background: var(--color2);
}

.nav {
    position: fixed;
    top: 0;
    background: var(--color4);
    height: 50px;
    line-height: 50px;
    width: 100vw;
    z-index: 9999;
}

#checkbox {
    display: none;
}

.nav .menu {
    float: left;
    cursor: pointer;
    margin-left: 2.5%;
    color: var(--color2);
}

.nav .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: var(--color2);
}

.nav .about,
.nav .home {
    float: right;
    cursor: pointer;
    margin-right: 2.5%;
}

.nav .about a,
.nav .home a {
    text-decoration: none;
    color: var(--color2);
}

.nav .box {
    display: none;
}

.nav .items {
    display: inline-block;
    margin: 0 5px;
}

.nav .items a {
    padding: 5px 9px;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    color: var(--color2);
    border-radius: 9px;
    transition: color 0.2s;
}

.nav .items a:hover {
    color: var(--color5);
}

.row {
    margin-top: 50px;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.main {
    background: var(--color2);
    padding: 5%;
}

.a {
    color: var(--color1);
}

.a:hover {
    color: var(--color5);
}

.container {
    display: flex;
    flex-direction: column;
}

.input1 {
    height: 32px;
    margin: 16px 0;
    padding: 16px 8px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--color3);
    border-radius: 4px;
    transition: box-shadow 0.25s;
}

.it:focus {
    box-shadow: 2px 4px 8px var(--alpha1);
}

#result {
    font-size: 16px;
    line-height: 16px;
}

p.button {
    text-align: right;
}

p.button a {
    margin-left: 8px;
    border: 1px solid var(--alpha1);
    border-radius: 4px;
    text-decoration: none;
    background: var(--color2);
    color: var(--color1);
    font-size: 14px;
    padding: 8px 32px;
    transition: box-shadow 0.25s;
}

p.button a:first-child {
    margin: 0;
}

p.button a:active {
    box-shadow: 2px 4px 8px var(--alpha1);
}

p.button.left {
    text-align: left;
}

p.copyright {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .nav .items a:hover {
        color: var(--color2);
    }

    .nav .items a:active {
        color: var(--color5);
    }
}

@media screen and (min-width: 768px) {
    .row {
        max-width: 768px;
        margin: 50px auto auto;
    }
}