@font-face {
    font-family: "Electrolize";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Electrolize.ttf) format("truetype");
}

:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #d0d0d0;
    --color4: #353941;
    --color5: #9898FF;
    --color6: #f0f0f0;
    --alpha1: rgba(0, 0, 0, 0.24);
    --alpha2: rgba(0, 0, 0, 0.60);
    --alpha3: rgba(255, 255, 255, 0.18);
}

* {
    font-family: "Electrolize", sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color2);
}

.nav {
    position: fixed;
    top: 0;
    background: var(--color4);
    height: 50px;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

.nav .title {
    margin-left: 2.5%;
    text-align: left;
    font-weight: bold;
    line-height: 50px;
    color: var(--color2);
}

.nav .box {
    margin-right: calc(2.5% - 9px);
    line-height: 50px;
    float: right;
}

.nav .items {
    display: inline-block;
    margin: 0 5px;
}

.nav .items a {
    padding: 5px 9px;
    line-height: 50px;
    text-decoration: none;
    color: var(--color2);
    border-radius: 9px;
    transition: background 0.2s;
}

.nav .items a:hover {
    background: var(--alpha3);
}

.row {
    margin-top: 50px;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.main {
    background: var(--color2);
    padding: 5%;
}

.a1 {
    text-decoration: none;
    color: var(--color1);
}

.a1:hover {
    border-bottom: 1px solid var(--color1);
}

.a2 {
    color: var(--color1);
}

.a2:hover {
    color: var(--color5);
}

.container {
    display: flex;
    flex-direction: column;
}

.tools {
    margin: 10px 0;
    line-height: 50px;
}

.tools a {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--alpha1);
    border-radius: 4px;
    color: var(--color1);
    background: var(--color2);
    transition: box-shadow 0.2s, background 0.2s;
}

.tools a:hover {
    box-shadow: 2px 4px 8px var(--alpha1);
}

.about {
    text-indent: 2em;
}

.update .yyyy {
    margin-bottom: 16px;
    padding-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--color3);
}

.update .mmdd {
    margin: 16px 0;
}

.update .title {
    font-weight: bold;
}

.update .content {
    margin-left: 1em;
}

.it {
    height: 32px;
    margin: 16px 0;
    padding: 16px 8px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--color3);
    border-radius: 4px;
    transition: box-shadow 0.25s;
}

.it:focus {
    box-shadow: 2px 4px 8px var(--alpha1);
}

#result {
    line-height: 16px;
}

.in {
    margin: -4px 0;
    padding: 4px;
    width: 3em;
    font-size: 14px;
    outline: none;
    border: 1px solid var(--color3);
    border-radius: 4px;
}

.conditions td {
    padding: 8px 0;
    line-height: 1em;
}

.conditions input[type=checkbox] {
    display: none;
}

.conditions input+label {
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
    color: transparent;
    border: 1px solid var(--color3);
    border-radius: 4px;
}

.conditions input:checked+label {
    color: var(--color1);
}

p.button {
    text-align: right;
}

p.button a {
    margin-left: 8px;
    border: 1px solid var(--alpha1);
    border-radius: 4px;
    text-decoration: none;
    background: var(--color2);
    color: var(--color1);
    font-size: 14px;
    padding: 8px 32px;
    transition: box-shadow 0.25s;
}

p.button a:first-child {
    margin: 0;
}

p.button a:active {
    box-shadow: 2px 4px 8px var(--alpha1);
}

p.button.left {
    text-align: left;
}

p.copyright {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .tools a:hover {
        box-shadow: none;
    }

    .tools a:active {
        box-shadow: 2px 4px 8px var(--alpha1);
    }
}

@media screen and (min-width: 768px) {
    .row {
        max-width: 768px;
        margin: 50px auto auto;
    }
}