@import "fonts/fontface.css";
@import "popup.css";

:root {
    --black1: #000000;
    --black2: #121212;
    --black3: #212121;

    --white1: #ffffff;
    --white2: #D0D0D0;
    --white3: #F0F0F0;

    --gray: #808080;
    --navy: #35333e;
    --blue: #9898FF;
    --red: #FEA29F;

    --black-alpha1: rgba(0, 0, 0, 0.18);
    --black-alpha2: rgba(0, 0, 0, 0.24);
    --black-alpha3: rgba(0, 0, 0, 0.60);
    --white-alpha1: rgba(255, 255, 255, 0.18);
    --white-alpha2: rgba(255, 255, 255, 0.24);
    --white-alpha3: rgba(255, 255, 255, 0.60);

    --main-color: var(--blue);
    --main-background: var(--white1);
    --nav-background: var(--navy);
    --menu-background: var(--black-alpha3);
    --text-color: var(--black1);
    --nav-text-color: var(--white1);
    --border-color: var(--black-alpha2);
    --title-border: var(--white2);
    --shadow-color: var(--black-alpha2);
    --placeholder: #A0A0A0;
}

.dark-mode {
    --main-background: var(--black2);
    --nav-background: var(--black3);
    --menu-background: var(--black2);
    --text-color: var(--white1);
    --nav-text-color: var(--white1);
    --border-color: var(--white-alpha3);
    --title-border: var(--white1);
    --shadow-color: var(--white-alpha2);
}

* {
    font-family: "ProductSans";
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background: rgba(152, 152, 255, 0.35)
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-background);
}

.nav {
    position: fixed;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    top: 0;
    background: var(--nav-background);
    z-index: 1773;
}

.nav.color-follow {
    background: var(--main-color);
}

#checkbox {
    display: none;
}

.nav .menu {
    float: left;
    margin-left: 2.5%;
    color: var(--nav-text-color);
    cursor: pointer;
}

.nav .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--nav-text-color);
    font-weight: bold;
}

.nav .about,
.nav .home {
    float: right;
    margin-right: 2.5%;
    cursor: pointer;
}

.nav .about a,
.nav .home a {
    color: var(--nav-text-color);
    text-decoration: none;
}

.nav .menu,
.nav .about,
.nav .home {
    transition: filter 0.2s ease;
}

.nav .menu:active,
.nav .about:active,
.nav .home:active {
    filter: brightness(85%);
}

.nav .items {
    position: absolute;
    overflow: scroll;
    width: 65vw;
    height: calc(100vh - 50px);
    line-height: 50px;
    top: 50px;
    left: -100%;
    color: var(--nav-text-color);
    background: var(--menu-background);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    transition: left 0.5s ease;
    z-index: 1696;
}

.dark-mode .nav .items {
    box-shadow: 2px 8px 8px var(--black-alpha3);
}

.nav #checkbox:checked~.items {
    left: 0;
}

.nav .items a {
    display: block;
    line-height: 50px;
    padding: 8px 16px;
    color: var(--nav-text-color);
    opacity: 0;
    border-left: 4px solid transparent;
    transform: translateX(-50px);
    transition: all 0.25s ease;
    text-decoration: none;
    font-size: 20px;
}

.nav #checkbox:checked~.items a {
    opacity: 1;
    transform: translateX(0);
    transition:
        all 0.25s ease,
        opacity 0.25s ease-out calc((var(--i) + 1) * 0.05s + 0.15s),
        transform 0.25s ease-out calc((var(--i) + 1) * 0.05s + 0.15s);
}

.nav .items a:hover {
    color: var(--main-color);
    background: var(--black-alpha2);
    border-left-color: var(--main-color);
}

.dark-mode .nav .items a:hover {
    background: var(--white-alpha1);
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: calc(100vh - 50px);
    margin-top: 50px;
    padding: 5%;
    color: var(--text-color);
    background: var(--main-background);
}

.main>.title {
    margin: 16px 0;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--title-border);
    font-size: 20px;
    font-weight: bold;
}

.main>.title~.content p {
    margin: 0;
    padding: 0;
    text-indent: 2em;
}

a {
    color: var(--text-color);
    transition: color 0.2s;
}

a:hover {
    color: var(--main-color);
}

input[type=text],
input[type=number] {
    background: var(--main-background);
}

::-webkit-input-placeholder {
    color: var(--placeholder);
}

.text {
    width: 100%;
    height: 32px;
    line-height: 16px;
    margin: 16px 0;
    padding: 16px 8px;
    color: var(--text-color);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: box-shadow 0.25s;
    font-size: 16px;
}

.text:focus {
    box-shadow: 2px 4px 8px var(--shadow-color);
}

#result {
    line-height: 24px;
    font-size: 16px;
}

.hr {
    margin: 16px 0;
    border-top: 1px solid var(--border-color);
}

p.button {
    text-align: right;
}

.button a {
    padding: 8px 32px;
    color: var(--text-color);
    background: var(--main-background);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: box-shadow 0.25s;
    text-decoration: none;
    font-size: 14px;
}

.button a:not(:first-of-type) {
    margin-left: 8px;
}

.button a:active {
    box-shadow: 2px 4px 8px var(--shadow-color);
}

p.copyright {
    margin: 16px 0;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .main {
        max-width: 75%;
        margin: 50px auto auto;
    }
}