.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    background: var(--color4);
    z-index: 9996;
}

.footer a {
    color: var(--color2);
    text-decoration: none;
}

.footer .gr,
.footer .atp {
    width: 50vw;
    height: 50px;
    border-bottom: 4px solid var(--color3);
    text-align: center;
}

.footer .gr {
    float: left;
}

.footer .atp {
    float: right;
}

.footer .active {
    border-bottom-color: var(--color5);
}