.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    background: var(--nav-background);
    z-index: 997;
}

.footer.transparent {
    background: var(--black-alpha3);
    box-shadow: 0px -2px 12px var(--black-alpha3);
}

.footer a {
    color: var(--nav-text-color);
    text-decoration: none;
}

.footer .gr,
.footer .atp {
    width: 50vw;
    height: 50px;
    border-bottom: 4px solid var(--white2);
    text-align: center;
}

.footer .gr {
    float: left;
}

.footer .atp {
    float: right;
}

.footer .active {
    border-bottom-color: var(--main-color);
}