@import "font-awesome.css";
@import "fontface.css";

:root {
    --black1: #000000;
    --black2: #121212;
    --black3: #212121;

    --white1: #ffffff;
    --white2: #d0d0d0;
    --white3: #f0f0f0;
    --navy: #353941;
    --blue: #9898FF;
    --red: #FEA29F;

    --black-alpha1: rgba(0, 0, 0, 0.18);
    --black-alpha2: rgba(0, 0, 0, 0.24);
    --black-alpha3: rgba(0, 0, 0, 0.60);
    --white-alpha1: rgba(255, 255, 255, 0.18);
    --white-alpha2: rgba(255, 255, 255, 0.24);
    --white-alpha3: rgba(255, 255, 255, 0.60);

    --main-background: var(--white1);
    --nav-background: var(--navy);
    --menu-background: var(--black-alpha3);
    --text-color: var(--black1);
    --nav-text-color: var(--white1);
    --border-color: var(--black-alpha2);
    --title-border: var(--white2);
    --shadow-color: var(--black-alpha2);
    --placeholder: #A0A0A0;
}

.dark-mode {
    --main-background: var(--black2);
    --nav-background: var(--black3);
    --menu-background: var(--black2);
    --text-color: var(--white1);
    --nav-text-color: var(--white1);
    --border-color: var(--white-alpha3);
    --title-border: var(--white1);
    --shadow-color: var(--white-alpha2);
}

* {
    font-family: "ProductSans";
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

*::selection {
    background: rgba(152, 152, 255, 0.35)
}

body {
    margin: 0;
    padding: 0;
}

a {
    -webkit-touch-callout: none;
}

.nav {
    position: fixed;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    top: 0;
    background: var(--nav-background);
    z-index: 999;
}

#checkbox {
    display: none;
}

.nav .menu {
    float: left;
    margin-left: 2.5%;
    color: var(--nav-text-color);
    cursor: pointer;
}

.nav .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--nav-text-color);
    font-weight: bold;
}

.nav .about,
.nav .home {
    float: right;
    margin-right: 2.5%;
    cursor: pointer;
}

.nav .about a,
.nav .home a {
    color: var(--nav-text-color);
    text-decoration: none;
}

.nav .menu,
.nav .about,
.nav .home {
    transition: filter 0.25s ease;
}

.nav .menu:active,
.nav .about:active,
.nav .home:active {
    filter: brightness(80%);
}


.nav .items {
    position: absolute;
    overflow: scroll;
    width: 65vw;
    height: calc(100vh - 50px);
    line-height: 50px;
    top: 50px;
    left: -100%;
    color: var(--nav-text-color);
    background: var(--menu-background);
    transition: left 0.5s ease;
}

.dark-mode .nav .items {
    box-shadow: 2px 4px 8px var(--black-alpha3);
}

.nav #checkbox:checked~.items {
    left: 0;
}

.nav .items a {
    display: block;
    line-height: 50px;
    padding: 8px 16px;
    color: var(--nav-text-color);
    border-left: 4px solid transparent;
    transition: all 0.25s ease;
    text-decoration: none;
    font-size: 20px;
}

.nav .items a:hover {
    color: var(--blue);
    background: var(--black-alpha2);
    border-left-color: var(--blue);
}

.dark-mode .nav .items a:hover {
    background: var(--white-alpha1);
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: calc(100vh - 50px);
    margin-top: 50px;
    color: var(--text-color);
    background: var(--main-background);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.main>.title {
    margin: 16px 0;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--title-border);
    font-size: 20px;
    font-weight: bold;
}

.a {
    color: var(--text-color);
    transition: color 0.2s;
}

.a:hover {
    color: var(--blue);
}

input[type=text],
input[type=number] {
    background: var(--main-background);
}

::-webkit-input-placeholder {
    color: var(--placeholder);
}

:-moz-placeholder {
    color: var(--placeholder);
}

::-moz-placeholder {
    color: var(--placeholder);
}

:-ms-input-placeholder {
    color: var(--placeholder);
}

.text {
    height: 32px;
    line-height: 16px;
    margin: 16px 0;
    padding: 16px 8px;
    color: var(--text-color);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: box-shadow 0.25s;
    font-size: 16px;
}

.text:focus {
    box-shadow: 2px 4px 8px var(--shadow-color);
}

#result {
    line-height: 16px;
    font-size: 16px;
}

p.button {
    text-align: right;
}

p.button a {
    margin-left: 8px;
    padding: 8px 32px;
    color: var(--text-color);
    background: var(--main-background);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: box-shadow 0.25s;
    text-decoration: none;
    font-size: 14px;
}

p.button a::first-child {
    margin: 0;
}

p.button a:active {
    box-shadow: 2px 4px 8px var(--shadow-color);
}

p.button.left {
    text-align: left;
}

p.copyright {
    margin: 16px 0;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    /*something...*/
}

@media screen and (min-width: 768px) {
    .row {
        max-width: 768px;
        margin: 50px auto auto;
    }
}