@import "font-awesome.css";

:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #d0d0d0;
    --color4: #353941;
    --color5: #9898FF;
    --color6: #f0f0f0;
    --alpha1: rgba(0, 0, 0, 0.24);
    --alpha2: rgba(0, 0, 0, 0.60);
    --alpha3: rgba(255, 255, 255, 0.18);
}

@font-face {
    font-family: "ProductSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/ProductSans-Regular.ttf) format("truetype");
}

* {
    font-family: "ProductSans";
    letter-spacing: 0.025em;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background: rgba(152, 152, 255, 0.25)
}

body {
    margin: 0;
    padding: 0;
    background: var(--color2);
}

.nav {
    position: fixed;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    top: 0;
    background: var(--color4);
    z-index: 999;
}

#checkbox {
    display: none;
}

.nav .menu {
    float: left;
    margin-left: 2.5%;
    color: var(--color2);
    cursor: pointer;
}

.nav .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color2);
    font-weight: bold;
}

.nav .about,
.nav .home {
    float: right;
    margin-right: 2.5%;
    cursor: pointer;
}

.nav .about a,
.nav .home a {
    color: var(--color2);
    text-decoration: none;
}

.nav .items {
    position: fixed;
    overflow: scroll;
    width: 65vw;
    height: calc(100vh - 50px);
    line-height: 50px;
    top: 50px;
    left: -100%;
    background: var(--alpha2);
    transition: left 0.5s ease;
}

.nav #checkbox:checked~.items {
    left: 0;
}

.nav .items a {
    display: block;
    line-height: 50px;
    padding: 8px 16px;
    color: var(--color2);
    border-left: 4px solid transparent;
    transition: all 0.25s ease;
    text-decoration: none;
    font-size: 20px;
}

.nav .items a:hover {
    color: var(--color5);
    background: var(--alpha1);
    border-left-color: var(--color5);
}

.row {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    min-height: calc(100vh - 50px);
    margin-top: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background: var(--color2);
}

.a {
    color: var(--color1);
}

.a:hover {
    color: var(--color5);
}

.text {
    height: 32px;
    line-height: 16px;
    margin: 16px 0;
    padding: 16px 8px;
    outline: none;
    border: 1px solid var(--color3);
    border-radius: 4px;
    transition: box-shadow 0.25s;
    font-size: 16px;
}

.text:focus {
    box-shadow: 2px 4px 8px var(--alpha1);
}

#result {
    line-height: 16px;
    font-size: 16px;
}

p.button {
    text-align: right;
}

p.button a {
    margin-left: 8px;
    padding: 8px 32px;
    color: var(--color1);
    background: var(--color2);
    border: 1px solid var(--alpha1);
    border-radius: 4px;
    transition: box-shadow 0.25s;
    text-decoration: none;
    font-size: 14px;
    
}

p.button a::first-child {
    margin: 0;
}

p.button a:active {
    box-shadow: 2px 4px 8px var(--alpha1);
}

p.button.left {
    text-align: left;
}

p.copyright {
    margin: 16px 0;
    font-size: 12px;
}

@media screen and (max-width: 768px) {}

@media screen and (min-width: 768px) {
    .row {
        max-width: 768px;
        margin: 50px auto auto;
    }
}