@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(../../fonts/robotoslab/RobotoSlab-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../../fonts/robotoslab/RobotoSlab-Light.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../fonts/robotoslab/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../../fonts/robotoslab/RobotoSlab-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../../fonts/robotoslab/RobotoSlab-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../../fonts/robotoslab/RobotoSlab-Black.ttf) format("truetype");
}